* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --background: #1b1f23;
    --background-light: #f3f3f5;
    --gray-line: #DCDDE0;
    --text: #666666;
    --text-hightlight: #B3B9FF;
    --title: #2E384D;
    --red: #E83F5B;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-dark-2: #1770F0;
    --blue-twitter: #2AA9E0;
    --purple-light :#8765e0;

}

@media (max-widht: 1080px) {
    html {
        font-size: 93.75%;
    }
}


@media (max-widht: 720px) {
    html {
        font-size: 87.5%;
    }

}

body {
    background:var(--background);
    color:var(--text);
}

body,input,textarea,button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

